.article_content {
  padding: 0 30px;
}
.article_content h1 {
  color: #2270a3;
}
.article_content code {
  background: rgb(207, 206, 206);
  padding: 3px 5px;
  border-radius: 5px;
  color: #000;
}
.article_content img {
  height: 100px;
  width: 100px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.image_cotainter {
  position: relative;
  height: 500px;
  width: 100%;
  align-items: center;
}
