.article_container {
  min-height: 100vh;
  width: 100%;
}
.article_content {
  padding: 0 30px;
}
.article_content h1 {
  color: #2270a3;
}
.article_content code {
  background: rgb(207, 206, 206);
  padding: 3px 5px;
  border-radius: 5px;
  color: #000;
}
.image_cotainter img {
  position: relative;
  max-height: 500px;
  max-width: 600px;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 100%;
}

@media screen and (max-width: 860px) {
  .article_content {
    width: 100%;
  }
  .image_cotainter {
    max-height: 300px;
    max-width: 350px;
  }
}
