.card {
  height: 15em;
  width: 20em;
  background-color: #d12727;
  border-radius: 5px;
  padding: 1em;
  margin: 1em;
}

@media screen and (max-width: 768px) {
  .card {
    height: 15em;
    width: 100%;
    background-color: #d12727;
    border-radius: 5px;
  }
}
