.article {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  flex-direction: row;
  margin: 10px;
  background-color: #fff;
  border-radius: 8px;
}
.article:hover {
  background: rgba(29, 17, 204, 0.123);
  cursor: pointer;
}
.readtime {
  font-size: 0.7em;
  color: rgba(47, 28, 218, 0.342);
  margin: 0;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 70px;
  padding: 10px;
  max-width: 100px;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}
.article_content {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
}
.article_desc {
  margin-top: 5px;
}
.article_title {
  margin: 0;
}
.article_container {
  width: 100%;
  padding: 10px;
}
