.navbar {
  height: 79px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("../../../pages/public/wave.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.searchbox {
  width: 190px;
  height: 32px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 50px;
  padding: 0 10px;
  margin-right: 10px;
  border: none;
}
/* on focus add border with gradient */
.searchbox:focus {
  outline: none;
  border: 1px solid #f1f5f9;
  box-shadow: 0 0 10px rgba(22, 18, 223, 0.5);
}

.socialmedia {
  display: flex;
  flex-direction: row;
  align-items: center;
}
