.container {
  position: relative;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header"
    "content content sidebar"
    "footer footer footer";
}

.navbar {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
  height: 100%;
  padding: 0 400px;
  width: 100%;
}
